    body{
        background-color: #F5F5F5;
    }

.banner {
    background-image: url(mainbanner.jpg);
    height: 800px;
    width: 1910px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.banner h1{
    text-align: center;
    text-shadow: black 1px 1px 5px;
    line-height: 10px;
    font-family: "Roboto", cursive;
    font-weight: 400;
    font-size: 80px;
    color : rgb(241, 241, 241);
    margin-top: 100px;
}

.banner h2{
    text-align: center;
    text-shadow: black 1px 1px 5px;
    line-height: 150px;
    font-family: "Roboto", cursive;
    font-weight: 400;
    font-size: 40px;
    color : rgb(241, 241, 241);
    margin-top: 100px;
}

.buttontour{
    text-align: center;
    cursor: pointer;  
}

.buttontour button{
    font-family: "Roboto", cursive;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.menu {
    text-align: center;
}

.menu a{
    font-family: "Roboto", cursive;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 30px;
}

.menu name{
    font-family: "Roboto", cursive;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 160px;
}

.menu num{
    font-family: "Roboto", cursive;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 160px;
}
.menu a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}



.selection{
    height: 1600px;
    width: 1910px;
    margin: auto;
    margin-top: 135px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}

.selection h1{
    text-align: center;
    line-height: 100px;
    font-family: "Roboto", cursive;
    font-weight: 400;
    font-size: 80px;
    color: rgb(0, 0, 0);
    margin-top: 0px;
}


.menutour{
    text-align: center;
    margin-bottom: 80px;
}

.menutour a{
    font-family: "Roboto", cursive;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 10px;
}
.menutour a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.card {
    text-align: center;
}

.cardtext {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.cardtext img {
    width: 370px;
    height: 531px;
    border-radius: 80px;
}

.textmountains {
  position: absolute;
  top: 15%;
  right: 20%;
  color: rgb(255, 255, 255);
  font-family: "Roboto", cursive;
  font-size: 40px;
}
.textmountains2 {
  position: absolute;
  top: 22%;
  right: 54%;
  color: rgb(255, 255, 255);
  font-family: "Roboto", cursive;
  font-size: 40px;
}

.textprice {
  position: absolute;
  top: 33%;
  right: 53%;
  color: rgb(255, 255, 255);
  font-family: "Roboto", cursive;
  font-size: 20px;
}

.moredetails {
  position: absolute;
  top: 85%;
  right: 45%;
  color: rgb(255, 255, 255);
  font-family: "Roboto", cursive;
  font-size: 23px;
}


.formtour{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
}

.tourform{
    width: 1170px;
    height: 986px;
    margin: auto;
    text-align: center;
}

.tourform h1{
    font-family: "Roboto", cursive;
    font-size: 60px;
    margin-bottom: 40px;
}

.tourform p{
    margin-bottom: 150px;
    margin-top: 50px;
    color: gray;
    font-family: "Roboto", cursive;   
}

.formrow{
    margin-bottom: 25px;
}

.input{
    display: inline-block;
    width: 45%;
    text-align: left;
}

.input label{
    display: block;
    margin-bottom: 10px;
    font-family: "Roboto", cursive;
}

.inputcommentary{
    text-align: left;
    

}

.COMMENTARY{
    text-align: left;
    display: block;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: "Roboto", cursive;    
}

.inputcommentary textarea{
    width: 84%;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.11);
    margin-left: 50px;
}


.input input{
    width: 400px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.11);
    padding-left: 20px;
    font-family: "Roboto", cursive;
}

.age{
    text-align: left;
    margin-left: 45px;
    margin-top: 20px;

}

.agelabel{
    display: block;
    text-align: left;
    margin-left: 50px;
    font-family: "Roboto", cursive;
}

.radio label{
    margin-right: 20px;
    
}

.agree{
    text-align: left;
    margin-left: 45px;
    margin-top: 20px;
    font-family: "Roboto", cursive;
}

.formbuttons{
    text-align: left;
    margin-top: 20px;
    margin-left: 45px;
}

.findtour{
    background-color: rgb(0, 128, 75);
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    font-family: "Roboto", cursive;
}

.reset{
    background-color: rgb(170, 236, 209);
    color: rgb(15, 75, 57);
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    font-family: "Roboto", cursive;
}

.reviews {
    text-align: center;
    margin: 135px;
}

.reviews h1{
    font-size: 70px;
    margin-bottom: 30px;
    font-family: "Roboto", cursive;
}

.text{
    text-align: center;
    color:gray;
    font-family: "Roboto", cursive;
    margin-bottom: 40px;
}

.reviewcard{
    display: inline-block;
    width: 570px;
    height: 673px;
    background-color: #d4d3cf77;
    padding: 40px;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
    position: relative;
    vertical-align: top;
}

.reviewmessage{
    font-family: "Roboto", cursive;
    font-size: 20px;
    
}


.reviewperson{
    margin: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 440px;
}

.reviewperson div{
    display: inline-block;
}

.reviewperson img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    left: 500px; 
}

.reviewperson span{
    color: gray;
    font-family: "Roboto", cursive;
    font-size: 17px;
}

.gallery{
    text-align: center;
    margin: 135px;
    
}

.gallery h1{
    font-family: "Roboto", cursive;
    font-size: 70px;
}

.gallerytext{
    color: gray;
    font-family: "Roboto", cursive;
    margin-bottom: 80px;
}

.galleryphotos img{
    margin: 7px;
}

.stories{
width:1170px;
margin:auto;
text-align:center;
margin-top:150px;
margin-bottom: 150px;
}

.stories h1{
font-size:70px;
font-family:"Roboto";
}

.storiestext{
color:gray;
margin-bottom:60px;
font-family:"Roboto";
}

.storycard{
position:relative;
margin-bottom:40px;
}

.storycard img{
width:100%;
height:500px;
object-fit:cover;
border-radius:40px;
}

.storycontent{
position:absolute;
top:60px;
left:60px;
color:white;
text-align:left;
width:400px;
font-family:"Roboto";
}

.storycontent h1{
font-size:30px;
margin-bottom:15px;
}

.storycontent p{
margin-bottom:20px;
}

.storycontent a{
color:white;
text-decoration:none;
font-weight:bold;
}


.finalcard{
width:1170px; 
margin:auto;
text-align:center;
margin-top:150px;
margin-bottom:150px;
}

.finalcard img{
width:250px;
height:250px;
border-radius:40px;
display:inline-block;
}

.finalcardtext{
    display: inline-block;
}

.finalcardtext h2{
font-size:30px;
font-family:"Roboto";
margin-bottom:10px;

}

.finalcardtext p{
color:gray;
font-family:"Roboto"; 
}


footer{
background:#eae6df;
padding: auto;
}

.footercontent{
width:1170px;
margin:auto;
display: flex;
justify-content:space-between;
align-items:center;
font-family:"Roboto";
color: gray;
}

.social a{
margin-left:20px;
text-decoration:none;
color:black;
}
